



<!DOCTYPE html>
<html lang="en">

<head>
    <title>SWAROin-ADMIN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    
    <link href="css/admin.min.css" rel="stylesheet">

    <link href="css/adminstyle.css" rel="stylesheet">

</head>

<body>
  




    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow" style="background-image: url('/assets/img/bg-reg4.jpg');">
        <div class="container d-flex justify-content-between align-items-center">

            
            <a class="navbar-brand text-success logo h2 align-self-center" href="#">
                SWARO<span style="color: blue;">in</span>
            </a>

           

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/home"><b>Dashboard</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/category"><b>Categories</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/product">Products</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/admin/order">Orders</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/admin/loadCoupon">Coupon</a>
                      </li>
    
                      <li class="nav-item">
                      <a class="nav-link" href="/admin/banner">Banner</a>
                      </li>
                  
                      
    
                   </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                   
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/user">Users</a>
                        </li>
                  
                      <li class="nav-item">
                      <a class="nav-link text-danger" href="/admin/logout">Logout</a>
                       </li>
    
                   </ul>


                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->

    
