<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #000000;
        }

        .container {
            margin-top: 50px;
            display: flex;
            justify-content: center;
        }

        .card {
            width: 100%;
            max-width: 500px;
            border-radius: 25px;
            border: 2px solid #e8e8e8;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .card-body {
            padding: 50px;
        }

        h1 {
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 50px;
        }

        .form-label {
            font-weight: bold;
        }

        .form-control {
            border-radius: 25px;
            border: 2px solid #e8e8e8;
            padding: 10px;
            margin-bottom: 20px;
            width: 100%;
            box-sizing: border-box;
        }

        .btn {
            display: block;
            width: 100%;
            max-width: 200px;
            margin: 0 auto;
            padding: 10px 20px;
            border-radius: 25px;
            border: none;
            background-color: #e8ca22;
            color: #fff;
            font-size: 1.2rem;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #ddcd27;
        }

        img {
            display: block;
            width: 50%;
            margin: 0 auto;
            margin-bottom: 50px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1>Verification</h1>
                <img src="/images/pngwing.com.png" alt="...">
                <form action="/forgot/forgot-P" method="post">
                    <div class="form-group">
                        <label class="form-label" for="mobnumber">Enter your mobile number:</label>
                        <input type="number" id="mobnumber" class="form-control" name="mobnumber" />
                    </div>
                    <button type="submit" value="Register" class="btn">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>