<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SWAROin</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    integrity="sha512-Cch1ekjwRJDDTbf+RGDnzT3q9XfAdEj+Ig2sF1l7VqzbMwF8AJVAbQobJjKcV9X6Rm8YV+CahhjJUc0xPY/hwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <style>
   

    #form3Example3c {
      width: 30%;
      margin-left: 35px;
      margin-left: 35%;
    }

    .card {
      background-color: white;
      color: black;
      border-radius: 25px;
      padding: 40px;
      text-align: center;
      margin: auto;
      animation: zoomIn 1s;
    }

    @keyframes zoomIn {
      from {
        transform: scale(0);
      }

      to {
        transform: scale(1);
      }
    }
  </style>
</head>

<body>
  <form action="/verifytwofact?id=<%=otp%>" method="post" style="height: 90vh;">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-md-10 col-lg-6 col-xl-5 mx-auto">
          <div class="card animate__animated animate__zoomIn">
            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"><span class="text-main-1"></span>Enter OTP to Login
            </p>
           

            <form>
              <div class="form-group mb-4">
                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                <label class="form-label" for="form3Example3c">OTP</label>
                <span class="ms-3" id="timer"></span>
                <input type="number" id="form3Example3c" class="form-control" name="otp" />
                <input type="hidden" id="form3Example3c" class="form-control" name="userDataid"
                  value="<%=userData._id%>" />
                <input type="hidden" id="form3Example3c" class="form-control" name="userDataname"
                  value="<%=userData.name%>" />

                <div >
                  <input type="submit" value="Login" class="btn btn-warning btn-md mt-2">
                </div>

              </div>
          </div>



  </form>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </form>
  <script>

  </script>
</body>

</html>